{% comment %} {% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6 shadow p-4">
            <h3>Créer votre compte</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputText1">Prénom </label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputText1">Nom</label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse Email </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager votre email.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Répétez votre mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Selectionnez ici </label>
                </div>
                <button type="submit" class="btn btn-primary">Créez votre compte</button>
            </form>
        </div>
        <div class="col-lg-6">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/72/22/c0/jaz-tour-khalef-thalasso.jpg" alt="" class="img-fluid img-responsive">
        </div>
    </div>
</div>


{% endblock %} {% endcomment %}